.share{
    border-radius: 20px;
    height: calc(100vh - 50px);
    background-color:  rgb(248, 248, 248);
    overflow-y: scroll;
    padding: 60px;
    width: 700px;position: relative;
    right: 5px;
    top: 50px;
    columns: lg -6px;
}


.shareIcon{
    position: relative;
    left: 100px;
    width: 150px;
    height: 120px;
    border-radius: 30px;  
}
.Icon{
    display: inline;
    position: relative;
    width: 90px;
    height: 90px;
    margin: 15px;
    
}
.sharetext{
    position: relative;
    left: 30px;
    top: -35px;
    font-size: 40px;
    padding: 100px;
}
.sharetext1{
    position: relative;
    left: 80px;
    font-size: 30px;
    top:-40px;
    padding: 150px;
}
.sidebarHr{
    position: relative;
    margin: 20px;
    top: -20px;
    width: 600px;
    right: 40px;
    

}
.scroll{
    display: inline;
    font-size: 1px;
}
.topbarListItem1{
    display: inline;

}
.topbarList{
    display: inline;
    position: relative;
    top: 10px;
}
.topbarLeft{
    display: inline;
}
.sharebarfriend{
    display: inline;
   
}
.sharebutton{
    width: 600px;
    height: 100px;
    background-color:rgb(232, 233, 234);
    margin: 25px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    top: 40px;
}
.sharebutton1{
    border: none;
    position: relative;
    width: 150px;
    height: 30px;
    left: 150px;
    border-radius: 10px;
    background-color: rgb(42, 42, 226);
}
.sharebutton:hover,
.sharebutton.active{
    box-shadow: 10px 10px 20px 10px rgb(86, 83, 83);
}
.sharebutton1:hover,
.sharebutton1.active{
    box-shadow: 10px 10px 20px 10px rgb(86, 83, 83);
}


.sidebarFriendName{
    position: relative;
    top: -40px;
    padding: 50px;
    font-size: 28px;
    font-weight: bold;
    left: 10px;

}
.carpı{
    position: relative;
    left: 150px;
    width: 25px;border: none;
}
.carpı:hover,
.carpı.active{ 
    box-shadow: 5px 10px 20px 5px  rgb(177, 183, 112) ;
    
}
.Icon{
    position: relative;
    top:-110px;
    padding: 10px;
}
.son{
    width: 150px;
    height: 30px;
    background-color: rgb(23, 23, 245);
    border-radius: 50px;
    position: relative;
    top: 60px;
    left: 300px;
    border: none;
}
.shareListItemText{
    color: aliceblue;
    font-weight: bold;
}
.shareListItemText1{
    color: aliceblue;
    font-weight: bold;
}